<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="InvokeITLimited.Cineworld" Publisher="CN=67FED6AA-5491-4F37-B955-D890A9B33074" Version="3.0.0.15" />
  <Properties>
    <DisplayName>Cineworld Unofficial</DisplayName>
    <PublisherDisplayName>Invoke IT Limited</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Cineworld.App">
      <VisualElements DisplayName="Cineworld Unofficial" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Cineworld" ForegroundText="light" BackgroundColor="#19171C">
        <LockScreen Notification="badge" BadgeLogo="Assets\Badge.png" />
        <DefaultTile ShowName="logoOnly" ShortName="Cineworld" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Win8CineBackgroundTask.CineBackground">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>